.chessBoard {
    border: 1px solid black;
    width: 640px;
    height: 640px;
    .Horizontal {
        display: flex;
        flex-direction: row;
        .Cell {
            height: 80px;
            width: 80px;

            display: flex;
            justify-content: center;
            align-items: center;

            position: relative;

            img {
                height: 60px;
                width: 60px;
                position: relative;


            }
        }
        .blackSquare {
            background-color: gray;

        }
        .whiteSquare {
            background-color: white;
        }
    }


}